<button (click)="loadNewFolder()">Load new fiolder</button><button (click)="testSave()">Test save</button>

{{ clientContent | async }}

<br/>
<button (click)="reloadInputControl()">Reload Input control</button>
<br/>

{{ (inputControl | async)?.getRelation('client_contents') | json }} {{ (inputControl | async)?.label }}

<button (click)="testS()">Test s</button><button (click)="newInputControl()">New Input Control</button>

<button (click)="getNumero()">Get numero</button>

<button (click)="loadInputControlRelation()" *ngIf="inputControl | async">Load inpur control relation</button>

<button (click)="searchSound()">Search sound</button>
<button (click)="loadNumero()">Load Numero</button>